<h3>How Productive Were You?</h3>

<div class="container">
  <h2>Daily Production</h2>
  <div>
    <canvas id="myChart"></canvas>
  </div>
</div>

<div class="row">
    <div class="col s6">
        <h4>Sleeeeeeeep</h4>
        <div id="sleepContainer" class="collection">
        </div>
    </div>

    <div class="col s6">
        <h4>Work, Work, Work</h4>
        <div id="workContainer" class="collection">
        </div>
    </div>

    <div class="col s6">
        <h4>Exercise & Fitness</h4>
        <div id="efContainer" class="collection">
        </div>
    </div>

    <div class="col s6">
        <h4>Family/Friend Time</h4>
        <div id="ffContainer" class="collection">
        </div>
    </div>

    <div class="col s6">
        <h4>Other</h4>
        <div id="otherContainer" class="collection">
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <h4></h4>
    </div>
</div>

{{!-- scripts --}}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/assets/js/index.js"></script>